# Ignorer tous les dossiers data
discovering & testing/data/
/nba_rating/data/

# Fichiers Parquet / CSV générés
*.parquet
*.csv

# Checkpoints Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Python compilé
__pycache__/
*.py[cod]

# Virtualenv
.venv/
venv/
